.footer {
  display: flex;
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: #8f57fd;
}
.footer a {
  color: white;
  font-size: 14px;
  text-decoration: none;
  padding-left: 30px;
}
.footer a:hover {
  text-decoration: underline;
}
